html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

input[type = "text"],
input[type="email"] {
  background-image:none;
  background-color:transparent;
  outline: none;
}


textarea {
  border: none;
}

div:focus {outline:0 !important;}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.button-reset {
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
