@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
  url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"),
  url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular-Italic"), url("../fonts/MullerRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root{
  --color-black: #121723;
  --color-provary: #6D31EE;
  --color-promo: #F0D288;
  --hover:#6D31EE;
  --focus:#AA9DFA;
  --active:#4F28A5;
  --error: #FF6F6F;
}

body {
  font-family: 'Muller', 'Courier New', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
}

.container {
  max-width: 1190px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

.title-section {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.header__top {
  width: 100%;
  padding: 20px 0;
}

.header__top-wrapper,
.header__top-menu,
.header__wrapper-btn,
.header__nav-list {
  display: flex;
  align-items: center;
}

.header__top-menu {
  width: 100%;
  justify-content: space-between;
}

.header__burger-btn {
  display: none;
}



.header__logo {
  margin-right: 80px;
}

.header__logo-link:focus-visible {
  outline: 3px solid var(--focus);
}


.header__nav {
  width: 100%;
  margin-right: 80px;
}

.header__nav-item:not(:last-child) {
  margin-right: auto;
}

.header__wrapper-search-btn {
  margin-right: 24px;
}

.header__nav-link {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.header__autorization-btn {
  font-weight: 500;
  padding: 10px 30.5px;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  border-radius: 72px;
  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.header__autorization-btn:focus-visible {
  outline: none;
  background-color: var(--focus);
}

.header__autorization-btn:hover {
  background-color: var(--color-black);
  color: white;
}

.header__autorization-btn:active {
  background-color: var(--active);
}

.header__wrapper-search-btn:focus-visible {
  outline: none;
}

.header__wrapper-search-btn:focus-visible svg path{
  stroke: var(--focus);
}

.header__wrapper-search-btn:hover svg path{
  stroke: var(--hover);
}
.header__wrapper-search-btn:active svg path {
  stroke: var(--active);
}

.link:focus-visible {
  outline: none;
}

.link {
  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.link:focus-visible {
  background-color: var(--focus);
  color: white;
}

.link:hover {
  color: var(--hover);
}

.link:active {
  color: var(--active);
}

.burger__close {
  display: none;
}

/* bottom */

.header__bottom-what-ether {
  display: none;
}

.header__bottom {
  border-bottom: 1px solid #E6E8EC;
  border-top: 1px solid #E6E8EC;
}

.header__bottom-list-wrapper {
  display: flex;
  align-items: center;
  margin-right: 52px;
}

.header__bottom-list,
.header__bottom-players {
  display: flex;
  margin-right: auto;
}

.header__autorization-top {
  display: none;
}

.header__bottom-wrapper {
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__bottom-item:not(:last-child) {
  margin-right: 52px;
}

.header__bottom-play {
  padding: 2px 11px 3px 12px;
  width: 175px;
  border-left: 1px solid #E6E8EC;
}

.header__play-btn {
  margin-right: 8px;
  display: flex;
}
.play-mobile {
  display: none;
}
.header__play-btn:hover svg path {
  fill: var(--hover);
}

.header__play-btn:active svg path {
  fill: var(--active);
}

.header__play-btn:focus-visible svg path {
  fill: var(--focus);
}

.header__bottom-play-wrapper {
  display: flex;
  align-items: center;
}

.play-end {
  border-right: 1px solid #E6E8EC;
}

.header__botom-text-title {
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  margin-bottom: 5px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__bottom-12 {
  position: relative;
  width: 46px;
  background-color: #E6E8EC;
}

.header__bottom-12-block {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #A1A6B4;
  background-color: white;
}

/* hero */


.hero__wrapper {
  padding: 94px 0;
  background-image: url("../img/hero/microphone.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--color-black);
  margin-top: 0;
  margin-bottom: 14px;
}

.hero__title-wawe {
  font-style: italic;
}

.hero__desc {
  line-height: 150%;
  color: var(--color-black);
  max-width: 635px;
  margin-bottom: 45px;
}

.hero__desk-link {
  color: var(--color-provary);
}

.hero__link-btn {
  padding: 25px 54px;
}

.header__form {
  position: absolute;
  left: 0;
  width: 100%;
  transition: transform .2s ease;
  transform: translateX(-200%);
}

.header__form-main,
.header__form-container {
  display: flex;
  align-items: center;
}

.header__form-search-btn {
  margin-right: 10px;
}
.header__form-main {
  width: 100%;
}
.lock-opacity {
  opacity: 0;
}

.header__form-input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-right: 10px;
  border-bottom: 1px solid var(--hover);
}


.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: white;
  background-color: var(--color-provary);
  border-radius: 40px;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.btn:focus-visible {
  background-color: var(--focus);
  outline: 2px solid var(--active);
}
.btn:hover {
  background-color: var(--focus);
}
.btn:active {
  background-color: var(--active);
}


/* podcast */

.podcast {
  background-color:#F2F2F2 ;
}

.podcast__wrapper {
  padding: 94px 0;
}

.podcast__title {
  margin-bottom: 30px;
}


.podcast__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.podcast__item:nth-child(2n-1) {
  margin-right: 30px;
}

.podcast__item-top,
.podcast__item-bottom {
  display: flex;
  align-items: center;
}

.podcast__item {
  display: flex;
}

.podcast__item-main {
  width: 80%;
  background-color: white;
}

.podcast__item {
  width: 540px;
  margin-bottom: 30px;
  position: relative;
}

.podcast__item-top {
  padding: 24px 30px;
  justify-content: space-between;
  width: 100%;
}

.podcast__item-bottom {
  padding: 8px 0 6px 30px;
  border-top: 1px solid #E6E8EC;
}

.podcast__item-bottom-play-btn,
.podcast__item-bottom-like-btn {
  margin-right: 30px;
}

.podcast__item-img-block {
  width: 21%;
  height: 140px;
}

.podcast__item-img {
  height: 100%;
  width: 100%;
}

.podcast__item-time,
.podcast__item-title,
.podcast__item-name {
  display: block;
}

.podcast__item-time {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
  margin-bottom: 8px;
}

.podcast__item-title {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
  margin-bottom: 4px;
}

.podcast__item-name {
  color: #A1A6B4;
}

.podcast__item-date {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 6px;
  text-align: center;
  background-color: #E6E8EC;
}

.podcast__more-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #6D31EE;
  padding: 23px 52px;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  transition-property: background-color,color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.podcast__more-btn:hover {
  background-color: var(--hover);
  color:white;
}

.podcast__more-btn:focus-visible {
  background-color: var(--focus);
  color:white;
}

.podcast__more-btn:active {
  background-color: var(--active);
  color:white;
}

.podcast__more {
  text-align: center;
}

.hide {
  display: none;
}
.hide-none {
  display: flex;
}

.podcast__item-play-btn {
  display: flex;
}

.podcast__item-play-btn:hover svg circle {
  stroke: var(--hover);
}

.podcast__item-play-btn:hover svg path {
  fill: var(--hover);
}

.podcast__item-play-btn:focus-visible svg circle {
  stroke: var(--focus);
}

.podcast__item-play-btn:focus-visible svg path {
  fill: var(--focus);
}

.podcast__item-play-btn:active svg circle {
  stroke: var(--active);
}

.podcast__item-play-btn:active svg path {
  fill: var(--active);
}

.podcast__item-botton-repost-btn,
.podcast__item-bottom-like-btn,
.podcast__item-bottom-play-btn {
  display: flex;
}
.podcast__item-bottom-play-svg{
  font-size: 16px;
  line-height: 16px;
  padding-left: 6px;
}

.podcast__item-botton-repost-btn,
.podcast__item-bottom-like-btn,
.podcast__item-bottom-play-btn {
  color: #A1A6B4;
}

.podcast__item-botton-repost-btn:hover,
.podcast__item-bottom-like-btn:hover,
.podcast__item-bottom-play-btn:hover {
  color: var(--hover);
}

.podcast__item-botton-repost-btn:active,
.podcast__item-bottom-like-btn:active,
.podcast__item-bottom-play-btn:active {
  color: var(--hover);
}

.podcast__item-botton-repost-btn:focus-visible,
.podcast__item-bottom-like-btn:focus-visible,
.podcast__item-bottom-play-btn:focus-visible {
  color: var(--focus);
}

.podcast__item-botton-repost-btn:hover svg path,
.podcast__item-bottom-like-btn:hover svg path,
.podcast__item-bottom-play-btn:hover svg path {
  fill: var(--hover);
}

.podcast__item-botton-repost-btn:active svg path,
.podcast__item-bottom-like-btn:active svg path,
.podcast__item-bottom-play-btn:active svg path {
  fill: var(--active);
}

.podcast__item-botton-repost-btn:focus-visible svg path,
.podcast__item-bottom-like-btn:focus-visible svg path,
.podcast__item-bottom-play-btn:focus-visible svg path {
  fill: var(--focus);
}

/* transfer */

.transfer__wrapper {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;

}

.transfer__left {
  background-image: url("../img/transfer/mic.png");
  background-repeat: no-repeat;
  background-position: left 73%;
  margin-right: 30px;
}

.transfer__left-wrapper {
  height: 100%;
  display: flex;
  width: 255px;
  flex-direction: column;
  justify-content: space-between;
}

.transfer__right {
  padding-top: 14px;
  width: 825px;
}

.transfer__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.transfer__item:not(:nth-child(3n)) {
  margin-right: 30px;
}


.transfer__item-wrapper {
  padding: 19px 16px 19px 16px;
  border: 1px solid #E6E8EC;
}

.transfer__item {
  max-width: 255px;
  margin-bottom: 30px;
}


.transfer__item:hover .transfer__item-link {
  color: var(--hover);
}

.transfer__item-link:focus-visible {
  outline: none;
  background-color: var(--focus);
}

.transfer__item:hover .transfer__item-link:active {
  color: var(--active);
}
.transfer__item:hover {
  outline: 1px solid var(--hover);
}

.transfer__item-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 4px;
}

.transfer__item-img {
  display: block;
}

.transfer__item-schedule {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  margin-bottom: 20px;
}

.transfer__item-link {
  font-style: italic;
  background-image: url("../img/transfer/arow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
}

.transfer__title {
  color: var(--color-black);
  margin-bottom: 12px;
}

.transfer__autor-span {
  display: inline-block;
  color: #A1A6B4;
  margin-bottom: 8px;
}

.choices__inner {
  min-height: 40px;
  background-color: #E6E8EC;
  border-radius: 10px ;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 0 12px 12px;
}

.is-open .choices__inner {
  border-radius: 10px ;
}

.choices__list {
  padding: 0;
}


.choices {
  z-index: 10;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  padding-top: 22px;
  margin-top: -22px;
  border-bottom: 1px solid #D2D5DD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 16px;
  color: #A1A6B4;
  padding: 12px 0 12px 12px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  z-index: -1;
}


.choices__item {
  color: var(--color-black);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--color-black);
}

.choices[data-type*="select-one"]::after {
  content: url("../img/transfer/Arow-select.svg");
  height: 9px;
  width: 13px;
  position: absolute;
  border: none;
  right: 11.5px;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*="select-one"].is-open::after {
  content: url("../img/transfer/Arow-swg-activ.svg");
  margin-top: -4px;
}

.transfer__left-btn {
  color: var(--color-black);
  font-weight: 500;
  display: inline-block;
  padding: 10px 45px 11px 64px;
  border: 2px solid #121723;
  border-radius: 77px;
  margin-bottom: 12px;
  background-image: url("../img/transfer/layers.svg");
  background-repeat: no-repeat;
  background-position: 44px 11px;

  transition-property: background-image,background-color,color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.transfer__left-btn:hover {
  background-image: url("../img/transfer/layers-white.svg");
  background-color: var(--color-black);
  color: white;
}

.transfer__left-btn:focus-visible {
  outline: none;
  background-color: var(--focus);
}

.transfer__left-btn:active {
  background-color: var(--active);
  border: 2px solid var(--active);
  color: white;
}


.transfer__desc-text {
  line-height: 150%;
  color: #A1A6B4;
}

.enjoy {
  font-weight: 600;
}


/* guests */


.guests {
  background-color: var(--color-black);
}

.guests__wrapper {
  padding: 94px 0;
}

.guests__title {
  color: #FFFFFF;
  margin-bottom: 12px;
}

.guests__span {
  display: inline-block;
  font-size: 20px;
  line-height: 150%;
  color: #A1A6B4;
  margin-bottom: 8px;
}


.guests__list-users {
  font-size: 20px;
  line-height: 160%;
  color: #A1A6B4;
  max-width: 825px;
  margin-bottom: 50px;
}

.guests__main {
  display: flex;
  justify-content: space-between;
}

.guests__content {
  width: 350px;
  display: none;
}

.guests__main-accordion {
  width: 730px;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-widget,
.ui-widget button {
  font-family: 'Muller', 'Courier New', 'sans-serif';
}

.ui-accordion .ui-accordion-header {
  padding: 23px 3px;
  padding-left:1px;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  border-right: none;
  border-bottom: none;
  display: flex;
  border-left: none;
  align-items: center;
  justify-content: space-between;
}

.accordion__item:hover {
  cursor: pointer;
}

.accordion__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.accordion__icon {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #A1A6B4;
  background-image: url("../img/guests/arow-acc.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform .2s ease;
}

.accordion__list {
  background-color: transparent;
  border: none;
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  column-gap: 30px;
}

.ui-accordion .ui-accordion-content {
  padding: 30px 0 20px 0;
  border-top: 1px solid var(--focus);
  overflow: hidden;
}


.ui-state-focus:focus-visible {
  outline: none;
  background-color: rgba(170, 157, 250, 0.3);
}

.ui-accordion-content-active {
  border-top: 1px solid var(--focus);
}

.ui-state-active {
  border-bottom: 1px solid var(--focus);
  border-top: 1px solid var(--focus);
}


.accordion__list-item {
  margin-bottom: 16px;
}


.ui-state-active > .accordion__icon {
  transform: rotateZ(180deg);
}


.accordion__item:hover > .accordion__item-wrapper .accordion__item-title {
  color: var(--focus);
}

.accordion__item:hover > .accordion__item-wrapper .accordion__icon {
  border:2px solid var(--focus);
  background-image: url("../img/guests/arrow-hover.svg");
}



.accordion__item-link {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #FFFFFF;
}

.accordion__item:last-child {
  border-bottom: 1px solid #A1A6B4;
}

.guests__content-img-block {
  margin-bottom: 12px;
  font-size: 0;
  line-height: 0;
}

.guests__content-img {
  width: 100%;
  height: 100%;
}

.guests__social-list {
  display: flex;
  margin-bottom: 8px;
}


.guests__social-item:not(:last-child) {
  margin-right: 30px;
}

.guests__user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.guests__user-desc {
  line-height: 180%;
  color: #A1A6B4;
  margin-bottom: 30px;
}

.guests__users-ether-link {
  font-weight: 500;
  color: #AA9DFA;
  padding: 11px 23px;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  display: inline-block;
  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.guests__active {
  display: block;
}

.guests__users-ether-link:hover {
  background-color: var(--hover);
  color: white;
}

.guests__users-ether-link:active {
  background-color: var(--active);
  color: white;
}

.guests__users-ether-link:focus-visible {
  background-color: var(--focus);
  color: white;
  outline: none;
}

.guests__social-item-link:focus-visible {
  outline: none;
}


/* playlist */

.playlist {
  overflow: hidden;
}

.playlist__wrapper {
  padding-top: 94px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.playlist__left-content {
  width: 30%;
}

.playlist__title {
  color: var(--color-black);
  margin-bottom: 12px;
}


.playlist__genre {
  color: #A1A6B4;
  margin-bottom: 10px;
}


.playlist__genre-item-label {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.playlist__genre-item:not(:last-child) {
  margin-bottom: 20px;
}


.playlist__genre-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.playlist__genre-item-label {
  display: flex;
  align-items: center;
}

.playlist__genre-item-span{
  display: flex;
  align-items: center;
}

.playlist__genre-item-span::before{
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid #A1A6B4;
  border-radius: 100%;
  margin-right: 14px;
}

.playlist__genre-input:checked + .playlist__genre-item-span::before {
  width: 10px;
  height: 10px;
  border: 8px solid #6D31EE;
}

.playlist__genre-input:focus-visible + .playlist__genre-item-span::before {
  width: 22px;
  height: 22px;
  border: 2px solid var(--active);
  background-color: #A1A6B4;
}

.playlist__genre-item-label:hover > .playlist__genre-item-span::before {
  border: 2px solid var(--hover);
}

.playlist__genre-item-label:hover > .playlist__genre-input:checked + .playlist__genre-item-span::before {
  width: 10px;
  height: 10px;
  border: 8px solid #6D31EE;
}

.playlist__genre-list-top {
  padding-bottom: 35px;
}

.playlist__bottom {
  border-top: 1px solid #D2D5DD;
  padding-top: 30px;
}
.playlist__bottom-desc {
  line-height: 22px;
  color: #A1A6B4;
}

.playlist__bottom-small {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  color: #A1A6B4;
  margin-bottom: 6px;
  display: block;
}

.playlist__18 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 7px 5px;
  font-size: 12px;
  color: #A1A6B4;
  border-radius: 100%;
  border: 1px solid #A1A6B4;
}

.playlist__right-content {
  padding-top: 14px;
  width: 66%;
  position: relative;
}

.playlist__group-list {
  display: flex;
  flex-wrap: wrap;
}

.playlist__item-img {
  vertical-align:bottom;
}

.playlist__group-item-link {
  display: flex;
  flex-direction: column;
  position: relative;
}

.playlist__group-item-img {
  position: relative;
  height: 100%;
}

.playlist__group-item-link:focus-visible {
  outline: none;
}

.playlist__group-item-link:hover .playlist__group-item-img::after,
.playlist__group-item-link:focus-visible .playlist__group-item-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #121723;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/playlist/play_btn-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
}

.playlist__group-item-link:hover .playlist__item-content {
  background-color: var(--hover);
  border: 1px solid var(--hover);
}

.playlist__group-item-link:active .playlist__item-content {
  background-color: var(--active);
  border: 1px solid var(--active);
}

.playlist__item-group-name,
.playlist__item-group-desc {
  display: block;
}

.playlist__group-item-link:hover .playlist__item-group-name,
.playlist__group-item-link:hover .playlist__item-group-desc,
.playlist__group-item-link:focus-visible .playlist__item-group-name,
.playlist__group-item-link:focus-visible .playlist__item-group-desc {
  color: white;
}
.playlist__item-content {
  padding: 15px 0 15px 16px;
  border: 1px solid #E6E8EC;
}


.playlist__group-item-link:focus-visible .playlist__item-content {
  background-color: var(--focus);
  border: 1px solid var(--focus);
  color: white;
}

.playlist__item-group-name {
  color: #121723;
  margin-bottom: 4px;
}

.playlist__swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.navigation-block {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
}

.swiper-button-next, .swiper-button-prev {
  position:static;
}

.playlist__prev,
.playlist__next {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}


.playlist__prev {
  background-image: url("../img/playlist/Arrow-prev.svg");
}

.playlist__next {
  background-image: url("../img/playlist/Arrow-next.svg");
}

.swiper-button-prev:after {
  content: none;
}
.swiper-button-next:after {
  content: none;
}


.swiper-pagination-fraction {
  width: fit-content;
}

.swiper-button-next, .swiper-button-prev {
  width: 30px;
  height: 15px;
  margin: 0;
}

.swiper-pagination-playlist {
  color: #A1A6B4;
  font-style: italic;
}

.playlist__item-group-desc {
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.playlist__item-country {
  position: absolute;
  top: 0;
  right: 0;
}

.playlist__group-item {
  margin-bottom: 30px;
}

.playlist__group-item:not(:nth-child(4n)){
  margin-right: 30px;
}


/* with-us */

.with-us {
  background-color: #292E39;
}

.with-us__wrapper {
  padding-top: 94px;
  padding-bottom: 133px;
}

.with-us__main-block {
  display: flex;
  justify-content: space-between;
}

.with-us__radio {
  position: relative;
}

.with-us__radio-img-new {
  position: absolute;
  top: 0;
  left: 0;

}

.with-us__main {
  max-width: 445px;
}

.with-us__title {
  color: var(--color-promo);
  margin-bottom: 19px;
}

.with-us__title::after {
  content: '';
  margin-top: 19px;
  width: 100%;
  height: 12px;
  display: block;
  background-image: url("../img/with-us/border.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.with-us__desc {
  font-size: 16px;
  line-height: 180%;
  color: white;
}

.with-us__desc {
  margin-bottom: 12px;
}


.with-us__desc-end {
  margin-bottom: 30px;
}

.with-us__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: white;
  margin-bottom: 30px;
  display: block;
}

.with-us__desk-link {
  color: var(--color-promo);
}

.with-us__desk-link:focus-visible {
  outline: none;
  color: var(--focus);
}

.with-us__link-yandex {
  color: var(--color-promo);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding: 25px 11px 21px 40px;
  display: inline-block;
  border: 2px solid var(--color-promo);
  border-radius: 100px;
  background-image: url("../img/with-us/yandex.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.with-us__link-yandex:focus-visible {
  background-color: #BB973E;
  outline: 1px solid #F0D288;
}

.with-us__link-yandex:hover {
  background-color: #F0D288;
  border: 2px solid var(--color-promo);
  color: var(--color-black);
}

.with-us__link-yandex:active {
  background-color: #BB973E;
  border: 2px solid var(--color-promo);
  color: var(--color-black);
}



/* about */

.about {
  background-color: #121723;
}

.about__wrapper {
  padding: 94px 0;
}

.about__title {
  color: white;
  margin-bottom: 12px;
}

.about__preview {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #A1A6B4;
  margin-bottom: 8px;
}

.about__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #A1A6B4;
  max-width: 634px;
}

.about__main {
  margin-bottom: 30px;

  background-image: url("../img/about/decor.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.about__peoples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about__people-item {
  max-width: 255px;
}

.about__people-picture {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  margin-bottom: 30px;
}

.about__people-name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
}

.about__people-desc {
  font-size: 16px;
  line-height: 24px;
  color: #A1A6B4;
}


.about__form-block {
  width: 920px;
}

.about__textarea {
  resize: none;
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  color: white;
  padding: 30px 30px 30px 32px;
}

textarea::placeholder,
input::placeholder {
  color: #A1A6B4;
  font-size: 20px;
}

.about__text {
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;
}

.about__personal-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about__name,
.about__mail,
.login,
.password {
  width: 445px;
  height: 70px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  color: white;
  padding: 25px 25px 25px 32px;
}

.about__personal-label-name,
.about__personal-label-mail,
.about__text {
  position: relative;
}

.is-invalid {
  border:1px solid #FF6F6F;
}

.just-validate-error-label {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  color: var(--error);
  top: 9px;
  left: 32px;
}

.about__send-btn {
  padding: 25px 54px;
  margin-bottom: 32px;
}

.about__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2em;
  font-size: 12px;
  line-height: 12px;
  color: white;
  display: flex;
  align-items: center;
}

.about__checkbox-span {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid white;
}

.about__checkbox:checked + .about__checkbox-span {
  background-image: url("../img/about/chek.svg");
  background-repeat: no-repeat;
  background-position: center center;
}





textarea:hover,
input[type = "text"]:hover,
input[type = "password"]:hover,
input[type = "email"]:hover {
  background-color: rgba(230, 232, 236, 0.1);
}

textarea:focus-visible,
input[type = "text"]:focus-visible,
input[type = "password"]:hover,
input[type = "email"]:focus-visible {
  background-color: rgba(230, 232, 236, 0.1);
  outline: 1px solid var(--focus);
}

/* footer */

.footer {
  background-color: #292E39;
}

.footer__wrapper-top {
  padding: 94px 0;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo:focus-visible {
  outline: 3px solid var(--focus);
}

.footer__sociasl-list {
  display: flex;
}

.footer__social-item {
  font-size: 0;
  line-height: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 21px;
}



.footer__content-item:not(:nth-child(3n)) {
  margin-bottom: 20px;
}

.footer__content-list {
  width: 445px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 88px;
}

.footer__content-item:nth-child(-n+5) {
  margin-right: 109px;
}

.footer__content-item-link {
  color: #FFFFFF;
}

.footer__small {
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 103.34%;
  color: #A1A6B4;
  padding-bottom: 10px;
}

.footer__small::before {
  content: '';
  margin-bottom: 12px;
  width: 100%;
  height: 12px;
  display: block;
  background-image: url("../img/footer/decor.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__social-link:focus-visible {
  outline: none;
}


.social:hover svg path {
  fill: var(--hover);
}

.social:focus-visible svg path {
  fill: var(--focus);
}

.social:active svg path {
  fill: var(--active);
}


/* modal */

.window {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0,.5);
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  transition: transform .2s ease-in-out;
  transform: translateX(-201%);
}

.atorization__close-window {
  position: absolute;
  top: 30px;
  right: 30px;
}


.atorization {
  background-color: var(--color-black);
  padding: 60px;
  width: 824px;
  margin: 0 auto;
  position: relative;
}

.in {
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.autro {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.autro__regestration-link {
  font-size: 20px;
  line-height: 150%;
  color: #6D31EE;
}

.autro__regestration-link:hover {
  text-decoration: underline;
}

.autro__regestration-link:active {
  color: var(--active);
}

.autro__regestration-link:focus-visible {
  color: var(--focus);
}

.login {
  margin-bottom: 30px;
  width: 70%;
}

.password {
  background-color:transparent;
  margin-bottom: 30px;
  width: 70%;
}

.atorization__form-in-btn {
  padding: 25px 54px;
}

.atorization__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);;
}

.desc {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.atorization__list {
  display: flex;
}

.atorization__list-social:not(:last-child) {
  margin-right: 40px;
}

.atorization__list-link:hover rect {
  fill: var(--hover);
}

.atorization__close:hover svg circle,
.atorization__close:hover svg path{
  stroke: var(--hover);
}


.header__top-media {
  background-color: #F2F2F2;
  padding: 21px 0;
  display: none;
}

/* media */

@media(max-width:1190px){
  .container {
    max-width: 905px;
  }

  .header__top-media {
    display: block;
  }
  .header__logo {
    display: none;
  }

  .header__bottom-list {
    justify-content: space-between;
    margin-right: 21px;
  }

  .header__bottom-burger {
    width: 100%;
  }

  .header__nav {
    margin-right: 34px;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 0;
  }

  .header__bottom-list-wrapper {
    margin-right: 0;
    width: 100%;
  }

  .header__bottom-12 {
    display: none;
  }

  .header__bottom-players {
    margin-right: 0;
  }

  .header__bottom-play {
    padding: 2px 11px 3px 12px;
    max-width: 150px;
    border-left: 1px solid #E6E8EC;
  }

  .hero__wrapper {
    padding: 90px 0;
    background-image: url("../img/hero/microphone-1170.jpg");
  }

  .hero__desc {
    max-width: 540px;
    margin-bottom: 20px;
  }

  .podcast__item {
    width: 396px;
  }

  .transfer__left {
    height: 560px;
  }

  .accordion__list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }

  .podcast__item-img-block {
    width: 32%;
  }

  .playlist__wrapper {
    flex-direction: column;
    position: relative;
    padding-bottom: 225px;
  }

  .playlist__left-content {
    width: 70%;
  }

  .playlist__genre-list-top {
    width: 530px;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    padding-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .playlist__genre-item {
    width: fit-content;
  }


  .playlist__right-content {
    width: 100%;
  }

  .playlist__bottom {
    position: absolute;
    width: 100%;
    bottom: 94px;
  }

  .playlist__group-item-link {
    flex-direction:row;
    align-items: center;
  }

  .playlist__group-item {
    width: 254px;
    height: 112px;
  }

  .playlist__group-item:not(:nth-child(4n)){
    margin-right: 0px;
  }

  .playlist__group-item:not(:nth-child(3n)){
    margin-right: 30px;
  }

  .playlist__item-content {
    height: 100%;
    width: 143px;
    display: flex;
    padding: 40px 0 40px 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  .playlist__item-country {
    left: 0;
  }


  .transfer__item:not(:nth-child(3n)) {
    margin-right: 0;
  }


  .transfer__item:nth-child(2n-1) {
    margin-right: 30px;
  }

  .guests__main-accordion {
    width: 540px;
  }

  .guests__list-users {
    max-width: 536px;
  }

  .guests__content {
    width: 255px;
  }

  .ui-accordion .ui-accordion-content {
    padding-bottom: 10px;
  }


  .with-us__radio {
    display: flex;
    align-items: center;
  }

  .with-us__main {
    max-width: 395px;
  }

  .with-us__link-yandex {

    padding: 23px 11px 23px 40px;
  }

  .with-us__wrapper {
    padding-bottom: 94px;
  }

  .about__people-item {
    max-width: 397px;
  }

  .about__people-desc {
    margin-bottom: 30px;
  }


  .about__form-block {
    width: 100%;
  }

  .about__personal-label-name, .about__personal-label-mail{
    width: 48%;
  }

  .about__name, .about__mail {
    width: 100%;
  }

  .about__peoples-list  {
    margin: 0;
  }

  .about__main {
    background-image: url("../img/about/decor-1170.svg");
    background-size: 255px 255px;
  }

  .about__desc,
  .about__preview {
    max-width: 539px;
  }
}

@media(max-width:905px){
  .container {
    max-width: 580px;
    padding: 0 15px;
  }


  .burger {
    width: 540px;
    margin: 0 auto;
  }

  .header__burger-btn {
    display: block;
  }
  .header__nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 400px;
    padding-top: 30px;
    background-color: #D2D5DD;
    overflow: hidden;
    transition: transform .4s ease;
    transform: translateY(-150%);
  }

  .header__nav::after,
  .header__nav::before {
    content: url("../img/header/decor.svg");
    position: absolute;
  }

  .header__nav::after {
    top: -5%;
    right: 10%;
  }

  .header__nav::before {
    top: 27%;
    right: 30%;
  }

  .header__nav-list {
    display: block;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 48px;
    width: 250px;
  }


  .header__nav-item,
  .header__nav-item:not(:last-child) {
    margin: 0;
    margin-bottom: 64px;
  }

  .header__bottom-wrapper {
    padding: 17px 0;
  }


  .burger__close {
    display: block;
    margin-bottom: 54px;
  }

  .header__bottom-players {
    display: none;
  }

  .play-mobile {
    display: block;
    margin: 0;
  }
  .hero__wrapper {
    background-image: none;
  }

  .podcast__item {
    width: 100%;
  }
  .podcast__item:nth-child(2n-1) {
    margin-right: 0;
  }

  .transfer__left {
    background-image: none;
    height: fit-content;
    margin-bottom: 33px;
  }

  .podcast__item-img-block {
    width: 20%;
  }


  .guests__main {
    flex-direction: column;
  }

  .guests__main-accordion{
    margin-bottom: 50px;
  }

  .guests__main-accordion,
  .guests__content {
    width: 100%;
  }
  .guests__user-desc {
    max-width: 400px;
  }

  .transfer__wrapper {
    padding-bottom: 217px;
    flex-direction: column;
  }

  .transfer__right {
    width: 100%;
  }

  .transfer {
    position: relative;
  }

  .transfer__left-bottom-wrapper {

    position: absolute;
    bottom: 0;
    left: 0;

    border-top: 1px solid #E6E8EC;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/transfer/mic.png");
    background-repeat: no-repeat;
    background-position: 27% center;
  }

  .transfer__desc-text{
    margin-right: -90px;
    max-width: 255px;
  }
  .atorization {
    width: 540px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .playlist__left-content {
    width: 100%;
    margin-bottom: 36px;
  }

  .playlist__group-item:not(:nth-child(3n)){
    margin-right: 0;
  }

  .playlist__group-item:not(:nth-child(2n)){
    margin-right: 30px;
  }

  .navigation-block {
    top: -20px;
  }


  .playlist__wrapper {
    padding-bottom: 250px;
  }

  .playlist__genre-list-top {
    width: 100%;
    max-height: 240px;
  }

  .with-us__main-block {
    flex-direction: column;
    width: 100%;
  }

  .with-us__main {
    min-width: 100%;
  }

  .with-us__title {
    max-width: 441px;
  }
  .with-us__radio {
    flex-direction: column;
    margin-bottom: 45px;
  }

  .with-us__wrapper {
    padding-top: 54px;
    padding-bottom: 94px;
  }

  .playlist__genre-item:not(:last-child) {
    margin-bottom: 0;
  }

  .playlist__genre-item:not(:nth-child(4n)) {
    margin-bottom: 34px;
  }

  .accordion__list-item {
    margin-bottom: 30px;
  }

  .ui-accordion .ui-accordion-content {
    padding-bottom: 0;
  }

  .about__people-item {
    width: 255px;
  }

  .about__main {
    margin: 0;
    padding-bottom: 170px;
    background-image: none;
  }

  .about__wrapper {
    position: relative;
  }
  .about__main::after {
    content: url("../img/about/decor-885.svg");
    position: absolute;
    padding-top: 30px;
    right: 0;
  }

  .about__personal-data {
    flex-direction: column;
  }

  .about__personal-label-name {
    margin-bottom: 30px;
  }

  .about__personal-label-name ,
  .about__personal-label-mail {
    width: 100%;
  }
  .login,
  .password {
    width: 100%;
  }

  .footer__social-link svg {
    width: 36px;
    height: 36px;
  }
  .footer__logo {
    text-align: center;
  }

  .footer__wrapper-top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  .footer__left {
    margin-bottom: 80px;
  }

  .footer__content-list {
    width: 100%;
    max-height: 108px;
  }
  .footer__content-item:nth-child(-n+5) {
    margin-right: 157px;
  }
  .footer__content-item:not(:nth-child(3n)) {
    margin-bottom: 30px;
  }
}

@media(max-width:576px) {
  .container {
    max-width: 100%;
    padding: 0 32px;
  }

  .burger {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__top {
    padding: 13px 0;
  }

  .header__nav {
    top: 58px;
  }

  .play-mobile {
    display: none;
  }

  .header__top-wrapper {
    justify-content: space-between;
  }

  .header__bottom-play-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__bottom-list-wrapper{
    position:absolute;
    top: 280px;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    transform: translateX(-150%);
    transition: transform .4s ease;
  }

  .header__bottom-list {
    display: block;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 48px;
  }

  .header__search {
    margin: 0;
  }
  .header__bottom-burger {
    width: 100%;
    padding: 30px 32px;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__top-media {
    padding: 9px 0;
  }

  .header__bottom-wrapper {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .header__bottom-players {
    padding-top: 9px;
    background-color: white;
  }

  .play-first {
    border-left: none;
  }
  .play-end {
    border-right: none;
  }

  .header__play-btn {
    margin: 0;
    margin-bottom: 5px;
  }

  .header__bottom-what-ether {
    border: none;
    display: flex;
    font-weight: 500;
    display: inline-block;
    color: #6D31EE;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 13px 0;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
  }

  .header__bottom-what-seck {
    background-image: url("../img/header/esc.svg");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: left center;
  }

  .header__nav  {
    padding-top: 13px;
    height: fit-content;
    padding-bottom: 13px;
  }

  .header__nav-list {
    margin: 0;
    width: 100%;
  }
  .header__nav-item:not(:last-child){
    margin-bottom: 40px;
  }




  .header__autorization-top {
    display: block;
  }

  .header__autorization-btn{
    display: none;
  }

  .header__autorization-btn-top {
    display: block;
    padding: 8px 24px;
  }

  .header__bottom {
    border: none;
  }


  .header__bottom-what-btn {
    margin-right: 5px;
  }

  .header__wrapper-search-btn {
    margin-right: 0;
  }

  .header__nav {
    top: 54px;
  }

  .header__bottom-what-btn {
    display: inline-block;
    display: flex;
    align-items: center;
  }

  .hero__wrapper {
    padding: 40px 0;
  }

  .hero__link-btn {
    font-size: 16px;
    line-height: 16px;
    padding: 17px 45px;
  }
  .hero__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .hero__desc {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px;
  }


  .podcast__item-bottom {
    font-size: 0;
    line-height: 0;
  }

  .podcast__item-play-btn svg {
    width: 36px;
    height: 36px;
  }

  .podcast__item-title {
    font-size: 16px;
    line-height: 16px;
  }

  .podcast__item-name {
    font-size: 12px;
    line-height: 12px;
  }

  .podcast__item-bottom-play-svg {
    font-size: 12px;
    line-height: 12px;
  }

  .podcast__item {
    flex-direction: column;
  }

  .podcast__item-main,
  .podcast__item-img-block {
    width: 100%;
  }

  .podcast__list {
    margin-bottom: 0;
  }

  .podcast__title,
  .transfer__title,
  .guests__title,
  .playlist__title,
  .with-us__title {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
  }

  .guests__title {
    margin-bottom: 12px;
  }


  .podcast__item-date {
    top: 0;
    left: 0;
    bottom:auto;
  }

  .podcast__item-img-block {
    font-size: 0;
    line-height: 0;
    height: fit-content
  }

  .podcast__item-top {
    padding: 16px;
  }


  .podcast__item-play-btn svg circle {
    stroke: var(--hover);
  }

  .podcast__item-play-btn svg path {
    fill: var(--hover);
  }

  .podcast__more-btn {
    font-size: 16px;
    line-height: 16px;
    padding: 17px 30px;
  }


  .transfer__item-wrapper {
    padding: 10px 10px 12px 10px;
  }

  .transfer__item-title {
    font-size: 12px;
    line-height: 12px;
  }


  .transfer__autor-span {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 6px;
  }

  .transfer__item-schedule {
    font-size: 9px;
    line-height: 9px;
    margin-bottom: auto;
  }
  .transfer__item {
    width: 44%;
    display: flex;
    flex-direction: column;
    min-height: 149px;
  }

  .transfer__item:nth-child(2n-1) {
    margin-right: auto;
  }
  .transfer__item-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .transfer__item-img {
    max-height: 60px;
  }

  .transfer__item-link {
    display: inline-block;
    width: fit-content;
    font-size: 12px;
    line-height: 12px;
    color: var(--hover);
  }

  .transfer__item-img {
    width: 100%;
  }


  .transfer__left-wrapper,
  .transfer__left{
    width: 100%;
  }

  .transfer__left {
    margin-bottom: 16px;
    margin-right: 0;
  }


  .transfer__left-bottom-wrapper {
    background-position: 10% center;
    background-size: 77px 105px;
    display: flex;
    flex-direction: column-reverse;
  }

  .transfer__desc-text {
    font-size: 14px;
    line-height: 150%;
    max-width: 166px;
    margin-bottom: 7px;
  }


  .transfer__left-btn {
    padding: 8px 20px 8px 40px;
    background-position: 20px;
    margin: 0;
    margin-right: -30px;
  }

  .accordion__list {
    display: flex;
    flex-wrap: wrap;
  }

  .accordion__item-title {
    font-size: 16px;
    line-height: 16px;
  }

  .accordion__icon {
    width: 26px;
    height: 26px;
    background-size: 12px 8px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 13px 3px;
    padding-left: 0;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 20px;
    margin-bottom: -10px;
  }

  .accordion__list-item {
    width: 40%;
    margin-bottom: 30px;
  }

  .guests__main-accordion {
    margin-bottom: 30px;
  }


  .guests__social-item-link svg {
    width: 36px;
    height: 36px;
  }
  .guests__social-item:not(:last-child) {
    margin-right: 21px;
  }
  .guests__users-ether-link {
    padding: 8px 21px;
  }

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 14px;
    line-height: 110%;
    text-align: left;
  }

  .playlist__group-item-link {
    flex-direction: column;
  }


  .playlist__picture {
    width: 100%;
  }
  .playlist__item-img {
    width: 100%;
  }

  .playlist__group-item {
    height: fit-content;
    width: 44%;
  }

  .playlist__group-item:not(:nth-child(2n)){
    margin-right: auto;
  }

  .playlist__genre {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 6px;
  }

  .playlist__item-group-name {
    font-size: 12px;
    line-height: 12px;
  }

  .playlist__item-group-desc {
    font-size: 9px;
    line-height: 9px;
  }

  .playlist__group-item-img {
    width: 100%;
    display: flex;
  }



  .playlist__item-content {
    padding: 9px 0 9px 9px;
    width: unset;
  }
  .playlist__group-item-link {
    align-items:unset;
  }

  .playlist__wrapper {
    padding-bottom: 230px;
  }

  .playlist__bottom {
    bottom: 52px;
    padding-top: 20px;
  }

  .playlist__genre-item-span::before {
    display:none;
  }

  .playlist__genre-item-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--hover);
    padding: 8px 12px;
    border: 2px solid var(--hover);
    border-radius: 77px;
  }

  .playlist__left-content {
    margin-bottom: 16px;
  }
  .navigation-block {
    top:-8px;
  }

  .playlist__genre-item {
    flex: 1;
  }
  .playlist__genre-item,
  .playlist__genre-item:not(:last-child) {
    margin: 0;
  }
  .playlist__genre-item:not(:last-child) {
    margin-right: 15px;
  }

  .playlist__genre-item {
    flex: 1 0 auto;
  }
  .playlist__genre-list-top {
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 45px;
    align-items: center;
  }


  .about__checkbox {
    font-size: 9px;
    line-height: 9px;
  }

  .playlist__bottom-desc,
  .playlist__bottom-small {
    font-size: 12px;
    line-height: 16px;
  }
  .playlist__bottom-small {
    margin-bottom: 12px;
  }
  .playlist__bottom-desc {
    margin-bottom: 2px;
  }
  .playlist__genre-input:checked + .playlist__genre-item-span {
    background-color: var(--hover);
    color: white;
  }

  .with-us__radio {
    margin-bottom: 28px;
  }

  .with-us__title {
    margin-bottom: 18px;
  }

  .with-us__desc {
    font-size: 14px;
    line-height: 22px;
  }

  .with-us__desc-end {
    margin-bottom: 12px;
  }

  .with-us__price {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .with-us__link-yandex {
    font-size: 16px;
    line-height: 100%;
    padding: 15px 13px 15px 40px;
  }

  .with-us__wrapper {
    padding-bottom: 54px;
  }
  .with-us__title::after {
    margin-top: 12px;
  }

  .about__title {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 12px;
  }

  .about__main {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .about__preview {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
  }

  .about__desc {
    font-size: 14px;
    line-height: 22px;
  }

  .about__main::after {
    display: none;
  }

  .about__people-item {
    width: 113px;
  }

  .about__people-picture {
    margin-bottom: 12px;
  }

  .about__people-name {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .about__people-desc {
    font-size: 12px;
    line-height: 16px;
  }

  .about__textarea {
    border-radius: 20px;
  }
  .about__name,
  .about__mail,
  .about__textarea {
    padding: 17px 24px;
  }

  .about__name,
  .about__mail {
    height: 50px;
  }

  .about__send-btn {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 44px;
  }
  .about__textarea::placeholder,
  .about__textarea,
  .about__name::placeholder,
  .about__name,
  .about__mail::placeholder,
  .about__mail {
    font-size: 16px;
    line-height: 16px;
  }

  .about__wrapper,
  .guests__wrapper,
  .podcast__wrapper,
  .transfer__wrapper,
  .playlist__wrapper{
    padding: 54px 0;
  }

  .guests__span {
    margin-bottom: 0;
  }
  .guests__span,
  .guests__list-users {
    font-size: 14px;
  }
  .guests__list-users {
    margin-bottom: 28px;
  }
  .transfer__wrapper {
    padding-bottom: 192px;
  }

  .playlist__wrapper {
    padding-bottom: 196px;
  }

  .footer__content-item-link {
    font-size: 12px;
    line-height: 12px;
  }


  .footer__content-list {
    max-height: 184px;
  }

  .footer__wrapper-top {
    padding-top: 54px;
    padding-bottom: 17px;
  }

  .footer__small::before {
    margin-bottom: 10px;
  }

  .footer__small {
    font-size: 12px;
    line-height: 103.34%;
  }

  .footer__content-item:nth-child(-n+5) {
    margin-right: 78px;
}
  .footer__content-item {
    margin-bottom: 24px;
  }

  .footer__content-item:not(:nth-child(3n)) {
    margin-bottom: 20px;
  }

  .footer__left {
    margin-bottom: 84px;
  }

  .window {
    padding-top: 70px;
  }
  .atorization {
    width: 100%;
  }
  .atorization__form-in-btn {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 56px;
  }
  .login,
  .password {
    padding: 12px 0 12px 18px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
    height: fit-content;
  }
  .login::placeholder,
  .password::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .autro,
  .autro__regestration-link {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .in {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .desc {
    font-size: 12px;
    line-height: 24px;
    color: #A1A6B4;
    margin-bottom: 10px;
  }

  .atorization__list {
    justify-content: space-between;
  }

  .header__nav::after, .header__nav::before {
    display: none;
  }

  .burger__close {
    margin-bottom: 24px;
  }

  .atorization__close-btn svg {
    width: 28px;
    height: 28px;
  }


}

.header__bottom-what-active {
  background-image: url("../img/header/esc-active.svg");
}

.header__bottom-what-active-bg {
  background: rgba(230, 232, 236, 0.4);
}

.header__bottom-players-flex {
  display: flex;
}

.lock {
  transform: none;
}